*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
.img
{
    font-size: 20px;
    margin-left: 35%;
    margin-top: 4%;
    height: 60vh;
}
.para
{

    margin-top: 40px;
    margin-left: 320px; 
    font-size: 50px;
    color: black;
    text-shadow: 3px 1px black;
    font-style:normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-seri;
}
.img
{
   height: 30vh;
}